**
!go.mod
!go.sum
!cmd/**
!internal/**
!web/**
!scripts/**
!LICENSE
!COMMERCIAL-TERMS.md
!NOTICE
!THIRD_PARTY_NOTICES*
web/node_modules
web/dist
**/*.test.ts
**/*.test.tsx
**/*_test.go
**/.env*
**/*.map
**/__pycache__
